 body{
 	background-color: black;
 	color: white;
 }
 #menu-top {
 	color: white;
 }
.my-post{
	background-image: url('../img/banner2.jpg');
	width:100%;
	background-size: cover;
}
.post a{
	color: white;
	font-size: 16px;
	text-decoration: none;
	font-weight: 600
}
.post p{
	padding: 15px
}
.my-post h1{
	color: white;
	padding: 20px 0px 20px 0px
} 
#sub{
	background-color:#9393b3;
}
.sub{
	padding: 30px 0px 30px 0px
}
